*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

body {
    font-size: 14px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background: inherit;
}

li {
    float: inline-start;
    vertical-align: middle;
}

nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3.5rem;
}

nav a {
    text-decoration: none;
    padding: 8px;
    margin-right: 10px;
    color: #5a5858;
    font-size: 15px;
    float: right;
    margin-top: 14px;
}

nav a:hover {
    text-decoration: underline;
}

img {
    height: 55px;
    padding: 15px;
    margin: 10px 0px 5px 10px;
}

#header {
    margin: 80px 0 20px 35px;
    width: 100%;
    color: rgb(182, 7, 7);
    font-size: 23px;
}

hr {
    opacity: 0.1;
    color: #5a5858;
    margin: 20px 0px;
}

.sub-header {
    display: flex;
    flex-direction: row;
    margin: 10px 30px;
    font-size: 17px;
}

.container {
    width: 100%;
    display: Flex;
    flex-direction: row;
}

.left-div {
    width: 10%;
    white-space: nowrap;
    margin: 0px 20px 0px 30px;
    line-height: 50px;
}

.right-div {
    margin: 0 30px;
    line-height: 35px;
}

.input {
    margin-top: 10px;
}

.always-wrapped {
    line-height: 20px;
}

@media (max-width: 1300px) {
    .wrapping {
        line-height: 20px;
    }
}

@media (max-width: 1200px) {
    .left-div,
    .middle-div {
        width: auto;
        max-width: 50%;
    }

    .left-div-2 {
        margin-right: 70px;
    }

    .right-div {
        display: none;
    }

    input,
    select {
        max-width: 95%;
    }

    input[type=number] {
        max-width: 45%;
        margin-left: auto;
        margin-right: auto;
    }

    .number-container {
        margin-left: 5px;
    }

    .submit {
        margin-left: 70px;
    }
}

@media(max-width: 1000px) {
    .submit {
        margin-left: 100px;
    }
}

input[type=text] {
    width: 500px;
    height: 30px;
    margin: 5px;
}

input[type=text]:focus {
    border: 1px solid rgb(122, 122, 236);
    padding: 2px;
    padding: 4px;
}

input[type=number]{
    width: 220px;
    height: 30px;
}

.left-input {
    margin-left: 5px;
    margin-right: 20px;
}

.right-input {
    margin-left: 20px;
}

select {
    width: 500px;
    height: 30px;
    margin: 5px;
}

.submit {   
    position: relative; 
    left: 43%;
    margin-top: 20px;
}

#submit {
    background-color: #4d90fe;
    border: 1px solid #3079ed;
    color: white;
    height: 30px;
    min-width: 120px;
}

.left-header {
    width: 50%;
}

.right-header {
    margin-left: 50px;
    color: #5a5858;
    font-size: 14px;
}

a {
    text-decoration: none;
}

.links-div {
    margin-bottom: 15px;
    margin-left: 30px;
}

.links-div a {
    line-height: 20px;
}

footer {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3.7rem;
    background: rgb(235, 235, 235);
    margin-top: 20px;
    display: inline-flex;
}

footer a {
    text-decoration: none;
    display: block;
    margin-top: 10px;
    padding: 10px;
    color: #5a5858;
    font-size: 15px;
}

footer a:hover {
    text-decoration: underline;
}

.monospace {
    font-family: monospace;
}
