*,
*::before,
*::after{
    box-sizing: border-box;
}

a {
    text-decoration: none;
    display: block;
    padding: 8px;
    background-color: rgb(235, 235, 235);
    color: #5a5858;
    font-size: 17px;
}

a:hover {
    text-decoration: underline;
}

nav {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    padding-right: 10px;
}

nav a {
    line-height: 30px;
    background: white;
}

html,
body {
    color: #222;
    font-family: arial, sans-serif;
    height: 100%;
    width: 100%;
}

.mainContent {
    margin: 80px auto;
}

img {
    display: block;
    margin-right: auto;
    margin-left: auto;
    max-width: 350px;
    width: 50%;
    padding: 20px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3.5rem;
    background: rgb(235, 235, 235);
}

input[type=text] {
    max-width: 500px;
    width: 90%;
    height: 30px;
    border-radius: 15px;
    box-shadow:0 1px 6px rgba(32,33,36,.28);
    border-color:rgba(223,225,229,0);
    background-image: url("https://img.pngio.com/simple-grey-search-icon-transparent-png-stickpng-search-icon-png-2064_2011.png");
    background-position: 10px 4px;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    padding-left: 40px;
}

.tinput {
    max-width: 100%;
    text-align: center;
}

#sign_in {
    background-color: #4d90fe;
    color: white;
    height: 30px;
    max-width: 70px;
    border: none;
    margin-right: 10px;
}

#search_button {    
    padding: 10px;
    border: none;
    opacity: 0.9;
}

#search_button:hover {
    border: 1px solid #ebebec;
    background: #ebebeb;
    cursor: pointer;
    opacity: 1;
}

#feeling_lucky {
    padding: 10px;
    border: none;
}

#feeling_lucky:hover {
    border: 1px solid #ebebec;
    background: #ebebeb;
    cursor: pointer;
    opacity: 1;
}

.btn {
    text-align: center;
    margin: 20px;
}

.footer-links {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 10px 0 10px;
    background: rgb(235, 235, 235);
    height: 10vh;
    bottom: 0;
}

.links-left,
.links-right {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    padding: 0 10px;
}

@media (max-width: 600px) {
    footer {
        height: 150px;
    }
    .footer-links {
        flex-direction: column;
        width: 100%;
    }
    .links-left,
    .links-right {
        margin-left: auto;
        margin-right: auto;
    }
}